html {
  background-color: #001242;
  color: #f34213;
  font-family: 'Dosis', sans-serif; }

main {
  position: relative;
  margin: 2rem auto;
  width: 50rem;
  height: 30rem;
  background: #792359;
  overflow: hidden;
  max-width: 100%; }

h1 {
  font-size: 250%;
  margin: 1em auto 0.5em;
  text-align: center;
  transform: rotate(9deg);
  outline: 2px dashed #fffcf2; }

.subtitle {
  display: block;
  text-align: center;
  width: 6em;
  margin: 0 auto 1rem;
  background-color: #fffcf2;
  transform: rotate(-5deg);
  font-size: 200%; }

button {
  background-color: #f34213;
  color: #fffcf2;
  margin: 1rem auto;
  font-size: 400%;
  transform: rotate(-7deg);
  cursor: pointer;
  display: block;
  font-family: 'Dosis', sans-serif;
  font-weight: bold;
  padding: 0.2em 0.7em; }

.c1 {
  background-color: #f34213;
  border-color: #f34213; }

.c2 {
  background-color: #08a045;
  border-color: #08a045; }

.c3 {
  background-color: #f0c808;
  border-color: #f0c808; }

.c4 {
  background-color: #0267c1;
  border-color: #0267c1; }

.c5 {
  background-color: #fb3640;
  border-color: #fb3640; }

.c6 {
  background-color: #dd1c1a;
  border-color: #dd1c1a; }

.c7 {
  background-color: #06D6A0;
  border-color: #06D6A0; }

.c8 {
  background-color: #355834;
  border-color: #355834; }

.ball {
  border-radius: 50%;
  font-size: 2.7rem;
  width: 5rem;
  height: 5rem; }

.square {
  font-size: 2.5rem;
  width: 5rem;
  height: 5rem; }

.triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 5rem 5rem 5rem;
  border-right-color: transparent;
  border-top-color: transparent;
  border-left-color: transparent; }

@keyframes zooooom {
  from {
    transform: rotate(-5deg) scale(1); }
  50% {
    transform: rotate(4deg) scale(2.5);
    box-shadow: 0px 0px 24px 8px #f7c331; }
  to {
    transform: rotate(-5deg) scale(1); } }
@keyframes upndown {
  from {
    bottom: 10em; }
  10% {
    bottom: 9.9em; }
  20% {
    bottom: 9.6em; }
  30% {
    bottom: 9.1em; }
  40% {
    bottom: 8.4em; }
  50% {
    bottom: 7.5em; }
  60% {
    bottom: 6.4em; }
  70% {
    bottom: 5.1em; }
  80% {
    bottom: 3.6em; }
  90% {
    bottom: 1.9em; }
  to {
    bottom: 0em; } }
@keyframes leftnrite {
  from {
    left: -10rem; }
  to {
    left: 60rem; } }
@keyframes roundnround {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
@keyframes disappeard {
  from {
    opacity: 1;
    transform: rotate(0deg) scale(1); }
  to {
    opacity: 0;
    transform: rotate(360deg) scale(4); } }
.zoooom {
  animation: zooooom 1s 1; }

.fast {
  animation-duration: 1s, 2.2s, 1.5s, 1.5s; }

.medium {
  animation-duration: 1s, 3.2s, 1.5s, 1.5s; }

.slow {
  animation-duration: 1s, 4.7s, 1.5s, 1.5s; }

.bouncy {
  padding: 1rem;
  background-clip: content-box;
  cursor: pointer;
  position: absolute;
  animation-name: upndown, leftnrite, roundnround;
  animation-timing-function: linear, linear, linear, ease-in;
  animation-direction: alternate, alternate, normal;
  animation-iteration-count: infinite, infinite, infinite, 1;
  animation-fill-mode: none, none, both, both; }

.smashed {
  cursor: default;
  animation-name: upndown, leftnrite, roundnround, disappeard; }

@media (max-width: 30rem) {
  main {
    width: 25rem;
    height: 18rem; } }
@media (max-width: 40rem) {
  main {
    width: 30rem;
    height: 20rem; } }
@media (max-width: 50rem) {
  main {
    width: 40rem;
    height: 27rem; } }

/*# sourceMappingURL=style.css.map */
